<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
  
  
      <div class="col-lg-4">
       <h5> A clip from Pipilotti Rist exhibition (Your Brain to Me, My Brain to You) at NMOQ. </h5>
    <video width="320" height="568" controls>
            <source src="img/1.mp4" type="video/mp4 ">
      Your browser does not support the video tag.
    </video>
    </div>

      <div class="col-lg-4 ">
        <h3 style="text-align: center;">Welcome to my weekly internship reports!</h3>
        <p style="text-align: center;">This website serves as a platform to document and share my journey throughout my internship experience. As an intern at Qatar Museums, I will be regularly posting updates, insights, and reflections on the projects, tasks, and skills I am involved with.
          In these reports, I aim to provide an overview of my progress, challenges, and achievements as an intern. Thank you for joining me on this exciting journey, and I look forward to sharing my internship experiences with you!</p>
        </div>
    
       

     <div class="col-lg-4">
      <h5 style="text-align: center;"> I enjoy doing photography! <span>&#128512;</span> so here are some clicks I have taken throughout my internship: </h5> 
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
       
          <div class="swiper-slide ">NMoQ<img class="img-responsive" src="img/portfolio/1.jpg" alt="pic" /></div>
          <div class="swiper-slide">NMoQ<img class="img-responsive" src="img/portfolio/2.jpg" alt="pic" /></div>
          <div class="swiper-slide">NMoQ<img class="img-responsive" src="img/portfolio/3.jpg" alt="pic" /></div>
          <div class="swiper-slide">NMoQ<img class="img-responsive" src="img/portfolio/4.jpg" alt="pic" /></div>
          <div class="swiper-slide">NMoQ<img class="img-responsive" src="img/portfolio/nmoq.jpg" alt="pic" /></div>
              </div>
  
        </div>
     
        <div class="swiper-pagination" style="color: #ff752f;"></div>
    
        <div class="swiper-button-prev" style="color: #ff752f;"></div>
        <div class="swiper-button-next" style="color: #ff752f;"></div>
      </div>
  

      
    
  
    </div>
    

    </div>
     <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

     <script>
      const swiper = new Swiper('.swiper', {
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        loop: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },

       

      });

    
    </script>
      
     
</section>
