<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Welcome to my weekly internship reports! This website serves as a platform to document and share my journey throughout my internship experience. As an intern in Qatar Museums, I will be regularly posting updates, insights, and reflections on the projects, tasks, and skills I am involved with.
          Through these reports, I aim to provide a comprehensive overview of my progress, challenges, and achievements, allowing you to gain insights into the day-to-day activities and responsibilities of an intern. Additionally, I will share valuable lessons learned, best practices, and notable experiences encountered during my internship.</p>
      </div>
      <div class="col-lg-4">
        <p>Thank you for joining me on this exciting journey, and I look forward to sharing my internship experiences with you!</p>
     <!--
<div class="col-lg-8 col-lg-offset-2 text-center">
  <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
    <i class="fa fa-download"></i> Download Theme
  </a>
</div>
-->
    </div>
  </div>
</section>
