<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            <p style="text-align: center; margin-bottom: 50px; font-size: 15px;"> Photos: © Lusail Museum, Qatar Museums, 2022.</p>
            {% if post.description %}
              <h4>{{ post.description }}</h4>
               {% endif %}
                <ul class="" style="font-size: 20px;">



                  {% if post.w %}
                  <li> {{ post.w }}
                  </li>
                  {% endif %}

                  <!--FOR DAY 1-->
                  {% if post.d0 %}
                  <li><b>DAY 1: </b>
                    {{ post.d0 }}
                  </li>
                  {% endif %}
                  <br>

            <!--VIDEO-->  
            {% if post.video %}
            <li>
              <h5>Here is a short clip from my tour at QOSM:</h5>
              <video width="640" height="700" controls>
                
                <source src="img/{{ post.video }}" type="video/mp4 ">
              </video>
                    </li>
            {% endif %}
                  <!--FOR DAY 2-->
                  {% if post.d00 %}
                  <li><b>DAY 2: </b>
                    {{ post.d00 }}
                  </li>
                  {% endif %}
                  
              <!--FOR DAY 1 & 2-->
              {% if post.d %}
              <li><b>DAY 1 and 2: </b>
                {{ post.d }}
              </li>
              {% endif %}
              <br>

              <!--FOR DAY 3-->
              {% if post.d1 %}
              <li><b>DAY 3: </b>
                {{ post.d1 }}
              </li>
              {% endif %}
              <br>

                <!--FOR DAY 4-->
              {% if post.d2 %}
              <li><b>DAY 4: </b>
                {{ post.d2 }}
              </li>
              {% endif %}
              <br>

              <!--FOR ANY KIND OF SCREENSHOTS-->
              {% if post.s %}
              <li><b>This is a screenshot of my work</b>
                <img src="img/portfolio/{{ post.s }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              </li>
              {% endif %}
              

              <!--FOR DAY 5-->
              {% if post.d3 %}
              <li><b>DAY 5: </b> 
                {{ post.d3 }}
              </li>
              {% endif %}
              <br>

              <!--NOT REQUIRED-->
              {% if post.s1 %}
              <li><b>Please scan the QR codes below:</b>
                <img src="img/portfolio/{{ post.s1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              </li>
              {% endif %}
                <br>


              <!--CONCLUSION-->  
              {% if post.c %}
              <li>
                {{ post.c }}
              </li>
              {% endif %}
<br>

      <!--ALL IMGS-->  
              {% if post.m1 %}
              <li>
                <img src="img/portfolio/{{ post.m1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              </li>
              {% endif %}
              {% if post.m2 %}
              <li>
                <img src="img/portfolio/{{ post.m2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              </li>
              {% endif %}

              {% if post.m3 %}
              <li>
                <img src="img/portfolio/{{ post.m3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              </li>
              {% endif %}

              {% if post.m4 %}
              <li>
                <img src="img/portfolio/{{ post.m4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              </li>
              {% endif %}

<br>
              {% if post.m5 %}
              <li>
                <b>Here is the e-publication of the online version:</b>
                <img src="img/portfolio/{{ post.m5 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              </li>
              {% endif %}

              {% if post.m6 %}
              <li>
                <img src="img/portfolio/{{ post.m6 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              </li>
              {% endif %}

              {% if post.m7 %}
              <li>
                <img src="img/portfolio/{{ post.m7 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              </li>
              {% endif %}




            </ul>
            <br><br>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
